@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
  color: #1c1c1c;
}

.dark * {
  color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.input-group {
  @apply w-full border border-solid border-black-20 rounded-xl py-3 px-3.5 space-y-1.5 relative;
}

.input-group label {
  @apply text-sm capitalize text-black-80 block cursor-pointer;
}

.input-group .input {
  @apply w-full outline-none text-base text-black-100;
}

.input-group textarea {
  @apply resize-none min-h-[80px];
}

.input-group .input::placeholder {
  @apply text-black-20 line-clamp-1;
}

.input-group.error {
  @apply border-red-600;
}

.error-message {
  @apply text-sm ml-2 text-red-600
}

.input-group.error label {
  @apply text-red-600;
}

.form--btn {
  @apply w-full block rounded-xl bg-black-20 py-2.5 px-4 relative;
}

.delete--btn {
  @apply block rounded-xl bg-black-10 py-1 px-3.5 relative text-base;
}

.delete--btn.save {
  @apply bg-red-500 text-white;
}

.form--btn.save {
  @apply bg-black-100 text-white;
}

.form--btn.save:disabled {
  @apply cursor-no-drop bg-opacity-60;
}

.options--btn {
  @apply w-full px-3.5 py-2 flex items-center justify-between;
}

.options--btn p {
  @apply text-base capitalize;
}

.input-group input[type='file'] {
  @apply absolute inset-0 w-full h-full opacity-0;
}

.input-group .placeholder--text {
  @apply rounded-full bg-gray-200 line-clamp-1 px-2.5 py-1 text-sm text-black-40 w-fit;
}


.v-popper--theme-dropdown .v-popper__inner {
  @apply dark:bg-black-100 rounded-md border border-solid dark:border-white-20 border-black-20;
}

.v-popper--theme-dropdown .v-popper__arrow-outer {
  @apply dark:!border-white-20 border-black-20
}

.v-popper__arrow-inner {
  @apply dark:!border-black-100 border-white
}